{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.bungie.net/platform//Destiny2/Manifest/",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Last-Modified": [
            "Sat, 02 Dec 2023 23:12:10 GMT"
          ],
          "X-Bungienext-Mid2": [
            "159"
          ],
          "X-Bungienext-Renderer": [
            "Frog Blast the Ventcore"
          ],
          "X-Ventcore-Status": [
            "1"
          ],
          "X-Selfurl": [
            "https://www.bungie.net/platform/Destiny2/Manifest/"
          ],
          "Bnetlb": [
            "LB0302"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"Response\":{\"version\":\"120811.23.11.08.1038-2-bnet.53235\",\"mobileAssetContentPath\":\"/common/destiny2_content/sqlite/asset/asset_sql_content_bd993c7177e15b3c7124f38c532b3146.content\",\"mobileGearAssetDataBases\":[{\"version\":0,\"path\":\"/common/destiny2_content/sqlite/asset/asset_sql_content_bd993c7177e15b3c7124f38c532b3146.content\"},{\"version\":1,\"path\":\"/common/destiny2_content/sqlite/asset/asset_sql_content_f0d0f31509cddeb37d507b267aca68bc.content\"},{\"version\":2,\"path\":\"/common/destiny2_content/sqlite/asset/asset_sql_content_f0d0f31509cddeb37d507b267aca68bc.content\"}],\"mobileWorldContentPaths\":{\"en\":\"/common/destiny2_content/sqlite/en/world_sql_content_ff129ab3aa7eaf42702220607856740d.content\",\"fr\":\"/common/destiny2_content/sqlite/fr/world_sql_content_f3d1aa0155b302c93d09dab7304e89ae.content\",\"es\":\"/common/destiny2_content/sqlite/es/world_sql_content_ffa4d91ba3ab6b82b9fb0bc25832c5b4.content\",\"es-mx\":\"/common/destiny2_content/sqlite/es-mx/world_sql_content_25fee82214ca4cb09739288f3b03449b.content\",\"de\":\"/common/destiny2_content/sqlite/de/world_sql_content_b5dd75f5cbf8f5a40d50f53f8c589ac7.content\",\"it\":\"/common/destiny2_content/sqlite/it/world_sql_content_6b6215fa26bf1cc227d0424ed686072f.content\",\"ja\":\"/common/destiny2_content/sqlite/ja/world_sql_content_04cb361f410ac2a36609b39f0b70752b.content\",\"pt-br\":\"/common/destiny2_content/sqlite/pt-br/world_sql_content_cb52b2a5bf703a41886385fd141b2fcf.content\",\"ru\":\"/common/destiny2_content/sqlite/ru/world_sql_content_1a655b029b1ce0627a54d3de33b1bdf8.content\",\"pl\":\"/common/destiny2_content/sqlite/pl/world_sql_content_fc60b1cac26ee2a7383286f02b4caf25.content\",\"ko\":\"/common/destiny2_content/sqlite/ko/world_sql_content_6d750b517b9260f9bf86db66aacdb0ad.content\",\"zh-cht\":\"/common/destiny2_content/sqlite/zh-cht/world_sql_content_da1bba9268e08d40e3b52c967bbb6a99.content\",\"zh-chs\":\"/common/destiny2_content/sqlite/zh-chs/world_sql_content_c8ae0d1de4710086aac2994dc88c902c.content\"},\"jsonWorldContentPaths\":{\"en\":\"/common/destiny2_content/json/en/aggregate-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"fr\":\"/common/destiny2_content/json/fr/aggregate-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"es\":\"/common/destiny2_content/json/es/aggregate-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"es-mx\":\"/common/destiny2_content/json/es-mx/aggregate-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"de\":\"/common/destiny2_content/json/de/aggregate-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"it\":\"/common/destiny2_content/json/it/aggregate-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"ja\":\"/common/destiny2_content/json/ja/aggregate-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"pt-br\":\"/common/destiny2_content/json/pt-br/aggregate-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"ru\":\"/common/destiny2_content/json/ru/aggregate-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"pl\":\"/common/destiny2_content/json/pl/aggregate-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"ko\":\"/common/destiny2_content/json/ko/aggregate-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"zh-cht\":\"/common/destiny2_content/json/zh-cht/aggregate-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"zh-chs\":\"/common/destiny2_content/json/zh-chs/aggregate-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\"},\"jsonWorldComponentContentPaths\":{\"en\":{\"DestinyNodeStepSummaryDefinition\":\"/common/destiny2_content/json/en/DestinyNodeStepSummaryDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyArtDyeChannelDefinition\":\"/common/destiny2_content/json/en/DestinyArtDyeChannelDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyArtDyeReferenceDefinition\":\"/common/destiny2_content/json/en/DestinyArtDyeReferenceDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyPlaceDefinition\":\"/common/destiny2_content/json/en/DestinyPlaceDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyActivityDefinition\":\"/common/destiny2_content/json/en/DestinyActivityDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyActivityTypeDefinition\":\"/common/destiny2_content/json/en/DestinyActivityTypeDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyClassDefinition\":\"/common/destiny2_content/json/en/DestinyClassDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyGenderDefinition\":\"/common/destiny2_content/json/en/DestinyGenderDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyInventoryBucketDefinition\":\"/common/destiny2_content/json/en/DestinyInventoryBucketDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyRaceDefinition\":\"/common/destiny2_content/json/en/DestinyRaceDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyTalentGridDefinition\":\"/common/destiny2_content/json/en/DestinyTalentGridDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyUnlockDefinition\":\"/common/destiny2_content/json/en/DestinyUnlockDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyStatGroupDefinition\":\"/common/destiny2_content/json/en/DestinyStatGroupDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyProgressionMappingDefinition\":\"/common/destiny2_content/json/en/DestinyProgressionMappingDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyFactionDefinition\":\"/common/destiny2_content/json/en/DestinyFactionDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyVendorGroupDefinition\":\"/common/destiny2_content/json/en/DestinyVendorGroupDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyRewardSourceDefinition\":\"/common/destiny2_content/json/en/DestinyRewardSourceDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyUnlockValueDefinition\":\"/common/destiny2_content/json/en/DestinyUnlockValueDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyRewardMappingDefinition\":\"/common/destiny2_content/json/en/DestinyRewardMappingDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyRewardSheetDefinition\":\"/common/destiny2_content/json/en/DestinyRewardSheetDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyItemCategoryDefinition\":\"/common/destiny2_content/json/en/DestinyItemCategoryDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyDamageTypeDefinition\":\"/common/destiny2_content/json/en/DestinyDamageTypeDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyActivityModeDefinition\":\"/common/destiny2_content/json/en/DestinyActivityModeDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyMedalTierDefinition\":\"/common/destiny2_content/json/en/DestinyMedalTierDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyAchievementDefinition\":\"/common/destiny2_content/json/en/DestinyAchievementDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyActivityGraphDefinition\":\"/common/destiny2_content/json/en/DestinyActivityGraphDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyActivityInteractableDefinition\":\"/common/destiny2_content/json/en/DestinyActivityInteractableDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyBondDefinition\":\"/common/destiny2_content/json/en/DestinyBondDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyCharacterCustomizationCategoryDefinition\":\"/common/destiny2_content/json/en/DestinyCharacterCustomizationCategoryDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyCharacterCustomizationOptionDefinition\":\"/common/destiny2_content/json/en/DestinyCharacterCustomizationOptionDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyCollectibleDefinition\":\"/common/destiny2_content/json/en/DestinyCollectibleDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyDestinationDefinition\":\"/common/destiny2_content/json/en/DestinyDestinationDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyEntitlementOfferDefinition\":\"/common/destiny2_content/json/en/DestinyEntitlementOfferDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyEquipmentSlotDefinition\":\"/common/destiny2_content/json/en/DestinyEquipmentSlotDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyEventCardDefinition\":\"/common/destiny2_content/json/en/DestinyEventCardDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyStatDefinition\":\"/common/destiny2_content/json/en/DestinyStatDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyInventoryItemDefinition\":\"/common/destiny2_content/json/en/DestinyInventoryItemDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyInventoryItemLiteDefinition\":\"/common/destiny2_content/json/en/DestinyInventoryItemLiteDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyItemTierTypeDefinition\":\"/common/destiny2_content/json/en/DestinyItemTierTypeDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyLoadoutColorDefinition\":\"/common/destiny2_content/json/en/DestinyLoadoutColorDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyLoadoutIconDefinition\":\"/common/destiny2_content/json/en/DestinyLoadoutIconDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyLoadoutNameDefinition\":\"/common/destiny2_content/json/en/DestinyLoadoutNameDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyLocationDefinition\":\"/common/destiny2_content/json/en/DestinyLocationDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyLoreDefinition\":\"/common/destiny2_content/json/en/DestinyLoreDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyMaterialRequirementSetDefinition\":\"/common/destiny2_content/json/en/DestinyMaterialRequirementSetDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyMetricDefinition\":\"/common/destiny2_content/json/en/DestinyMetricDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyObjectiveDefinition\":\"/common/destiny2_content/json/en/DestinyObjectiveDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinySandboxPerkDefinition\":\"/common/destiny2_content/json/en/DestinySandboxPerkDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyPlatformBucketMappingDefinition\":\"/common/destiny2_content/json/en/DestinyPlatformBucketMappingDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyPlugSetDefinition\":\"/common/destiny2_content/json/en/DestinyPlugSetDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyPowerCapDefinition\":\"/common/destiny2_content/json/en/DestinyPowerCapDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyPresentationNodeDefinition\":\"/common/destiny2_content/json/en/DestinyPresentationNodeDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyProgressionDefinition\":\"/common/destiny2_content/json/en/DestinyProgressionDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyProgressionLevelRequirementDefinition\":\"/common/destiny2_content/json/en/DestinyProgressionLevelRequirementDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyRecordDefinition\":\"/common/destiny2_content/json/en/DestinyRecordDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyRewardAdjusterPointerDefinition\":\"/common/destiny2_content/json/en/DestinyRewardAdjusterPointerDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyRewardAdjusterProgressionMapDefinition\":\"/common/destiny2_content/json/en/DestinyRewardAdjusterProgressionMapDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyRewardItemListDefinition\":\"/common/destiny2_content/json/en/DestinyRewardItemListDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinySackRewardItemListDefinition\":\"/common/destiny2_content/json/en/DestinySackRewardItemListDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinySandboxPatternDefinition\":\"/common/destiny2_content/json/en/DestinySandboxPatternDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinySeasonDefinition\":\"/common/destiny2_content/json/en/DestinySeasonDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinySeasonPassDefinition\":\"/common/destiny2_content/json/en/DestinySeasonPassDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinySocialCommendationDefinition\":\"/common/destiny2_content/json/en/DestinySocialCommendationDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinySocketCategoryDefinition\":\"/common/destiny2_content/json/en/DestinySocketCategoryDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinySocketTypeDefinition\":\"/common/destiny2_content/json/en/DestinySocketTypeDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyTraitDefinition\":\"/common/destiny2_content/json/en/DestinyTraitDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyUnlockCountMappingDefinition\":\"/common/destiny2_content/json/en/DestinyUnlockCountMappingDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyUnlockEventDefinition\":\"/common/destiny2_content/json/en/DestinyUnlockEventDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyUnlockExpressionMappingDefinition\":\"/common/destiny2_content/json/en/DestinyUnlockExpressionMappingDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyVendorDefinition\":\"/common/destiny2_content/json/en/DestinyVendorDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyMilestoneDefinition\":\"/common/destiny2_content/json/en/DestinyMilestoneDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyActivityModifierDefinition\":\"/common/destiny2_content/json/en/DestinyActivityModifierDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyReportReasonCategoryDefinition\":\"/common/destiny2_content/json/en/DestinyReportReasonCategoryDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyArtifactDefinition\":\"/common/destiny2_content/json/en/DestinyArtifactDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyBreakerTypeDefinition\":\"/common/destiny2_content/json/en/DestinyBreakerTypeDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyChecklistDefinition\":\"/common/destiny2_content/json/en/DestinyChecklistDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyEnergyTypeDefinition\":\"/common/destiny2_content/json/en/DestinyEnergyTypeDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinySocialCommendationNodeDefinition\":\"/common/destiny2_content/json/en/DestinySocialCommendationNodeDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyGuardianRankDefinition\":\"/common/destiny2_content/json/en/DestinyGuardianRankDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyGuardianRankConstantsDefinition\":\"/common/destiny2_content/json/en/DestinyGuardianRankConstantsDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyLoadoutConstantsDefinition\":\"/common/destiny2_content/json/en/DestinyLoadoutConstantsDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\"},\"fr\":{\"DestinyNodeStepSummaryDefinition\":\"/common/destiny2_content/json/fr/DestinyNodeStepSummaryDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyArtDyeChannelDefinition\":\"/common/destiny2_content/json/fr/DestinyArtDyeChannelDefinition-7f63cbb3-a525-4f72-ad03-b77f59719e36.json\",\"DestinyArtDyeReferenceDefinition\":\"/common/destiny2_content/json/fr/DestinyArtDy[...]
