{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.bungie.net/platform//Destiny2/2/Profile/4611686018462034842/?components=babydog",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 500,
          "message": "Internal Server Error"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Bungienext-Mid2": [
            "159"
          ],
          "X-Bungienext-Renderer": [
            "Frog Blast the Ventcore"
          ],
          "X-Ventcore-Status": [
            "7"
          ],
          "X-Selfurl": [
            "https://www.bungie.net/platform/Destiny2/2/Profile/4611686018462034842/?components=babydog"
          ],
          "Bnetlb": [
            "LB0302"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"ErrorCode\":7,\"ThrottleSeconds\":0,\"ErrorStatus\":\"ParameterParseFailure\",\"Message\":\"Unable to parse your parameters.  Please correct them, and try again.\",\"MessageData\":{\"Value babydog cannot be parsed.\":\"Could not be parsed.\"}}"
        }
      },
      "recorded_at": "Sat, 02 Dec 2023 23:25:31 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}