{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.bungie.net/platform//Destiny2/Stats/PostGameCarnageReport/fred/",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 301,
          "message": "Moved Permanently"
        },
        "headers": {
          "Location": [
            "http://stats.bungie.net/platform/Destiny2/Stats/PostGameCarnageReport/fred/"
          ],
          "Last-Modified": [
            "Sat, 02 Dec 2023 23:25:53 GMT"
          ],
          "X-Bungienext-Mid2": [
            "179"
          ],
          "X-Bungienext-Renderer": [
            "Frog Blast the Ventcore"
          ],
          "X-Selfurl": [
            "https://www.bungie.net/platform/Destiny2/Stats/PostGameCarnageReport/fred/"
          ],
          "Bnetlb": [
            "LB0102"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": ""
        }
      },
      "recorded_at": "Sat, 02 Dec 2023 23:25:53 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://stats.bungie.net/platform/Destiny2/Stats/PostGameCarnageReport/fred/",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 301,
          "message": "Moved Permanently"
        },
        "headers": {
          "Content-Type": [
            "text/html; charset=utf-8"
          ],
          "Location": [
            "https://stats.bungie.net/platform/Destiny2/Stats/PostGameCarnageReport/fred/"
          ],
          "X-Bungienext-Mid2": [
            "149"
          ],
          "X-Selfurl": [
            "http://stats.bungie.net:45000/platform/Destiny2/Stats/PostGameCarnageReport/fred/"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<html><head><title>Object moved</title></head><body>\r\n<h2>Object moved to <a href=\"https://stats.bungie.net/platform/Destiny2/Stats/PostGameCarnageReport/fred/\">here</a>.</h2>\r\n<script defer src=\"https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317\" integrity=\"sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==\" data-cf-beacon='{\"rayId\":\"82f754eb3aba29b9\",\"b\":1,\"version\":\"2023.10.0\",\"token\":\"d9037c24bdf84e8bb712f1597ca7e783\"}' crossorigin=\"anonymous\"></script>\n</body></html>\r\n"
        }
      },
      "recorded_at": "Sat, 02 Dec 2023 23:25:54 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://www.bungie.net/platform//Destiny2/Stats/PostGameCarnageReport/0/",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 301,
          "message": "Moved Permanently"
        },
        "headers": {
          "Location": [
            "http://stats.bungie.net/platform/Destiny2/Stats/PostGameCarnageReport/0/"
          ],
          "Last-Modified": [
            "Sat, 02 Dec 2023 23:25:54 GMT"
          ],
          "X-Bungienext-Mid2": [
            "184"
          ],
          "X-Bungienext-Renderer": [
            "Frog Blast the Ventcore"
          ],
          "X-Selfurl": [
            "https://www.bungie.net/platform/Destiny2/Stats/PostGameCarnageReport/0/"
          ],
          "Bnetlb": [
            "LB0302"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": ""
        }
      },
      "recorded_at": "Sat, 02 Dec 2023 23:25:54 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://stats.bungie.net/platform/Destiny2/Stats/PostGameCarnageReport/0/",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 301,
          "message": "M[...]
[...]
