{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.bungie.net/platform//Destiny2/Stats/PostGameCarnageReport/fred/",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 301,
          "message": "Moved Permanently"
        },
        "headers": {
          "Location": [
            "http://stats.bungie.net/platform/Destiny2/Stats/PostGameCarnageReport/fred/"
          ],
          "Last-Modified": [
            "Sat, 02 Dec 2023 23:25:53 GMT"
          ],
          "X-Bungienext-Mid2": [
            "179"
          ],
          "X-Bungienext-Renderer": [
            "Frog Blast the Ventcore"
          ],
          "X-Selfurl": [
            "https://www.bungie.net/platform/Destiny2/Stats/PostGameCarnageReport/fred/"
          ],
          "Bnetlb": [
            "LB0102"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": ""
        }
      },
      "recorded_at": "Sat, 02 Dec 2023 23:25:53 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://stats.bungie.net/platform/Destiny2/Stats/PostGameCarnageReport/fred/",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 301,
          "message": "Moved Permanently"
        },
        "headers": {
          "Content-Type": [
            "text/html; charset=utf-8"
          ],
          "Location": [
            "https://stats.bungie.net/platform/Destiny2/Stats/PostGameCarnageReport/fred/"
          ],
          "X-Bungienext-Mid2": [
            "149"
          ],
          "X-Selfurl": [
            "http://stats.bungie.net:45000/platform/Destiny2/Stats/PostGameCarnageReport/fred/"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<html><head><title>Object moved</title></head><body>\r\n<h2>Object moved to <a href=\"https://stats.bungie.net/platform/Destiny2/Stats/PostGameCarnageReport/fred/\">here</a>.</h2>\r\n<script defer src=\"https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317\" integrity=\"sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==\" data-cf-beacon='{\"rayId\":\"82f754eb3aba29b9\",\"b\":1,\"version\":\"2023.10.0\",\"token\":\"d9037c24bdf84e8bb712f1597ca7e783\"}' crossorigin=\"anonymous\"></script>\n</body></html>\r\n"
        }
      },
      "recorded_at": "Sat, 02 Dec 2023 23:25:54 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://www.bungie.net/platform//Destiny2/Stats/PostGameCarnageReport/0/",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 301,
          "message": "Moved Permanently"
        },
        "headers": {
          "Location": [
            "http://stats.bungie.net/platform/Destiny2/Stats/PostGameCarnageReport/0/"
          ],
          "Last-Modified": [
            "Sat, 02 Dec 2023 23:25:54 GMT"
          ],
          "X-Bungienext-Mid2": [
            "184"
          ],
          "X-Bungienext-Renderer": [
            "Frog Blast the Ventcore"
          ],
          "X-Selfurl": [
            "https://www.bungie.net/platform/Destiny2/Stats/PostGameCarnageReport/0/"
          ],
          "Bnetlb": [
            "LB0302"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": ""
        }
      },
      "recorded_at": "Sat, 02 Dec 2023 23:25:54 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://stats.bungie.net/platform/Destiny2/Stats/PostGameCarnageReport/0/",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 301,
          "message": "M[...]
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://stats.bungie.net/platform/Destiny2/Stats/PostGameCarnageReport/fred/",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 500,
          "message": "Internal Server Error"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Last-Modified": [
            "Sun, 03 Dec 2023 03:21:55 GMT"
          ],
          "X-Bungienext-Mid2": [
            "148"
          ],
          "X-Bungienext-Renderer": [
            "Frog Blast the Ventcore"
          ],
          "X-Ventcore-Status": [
            "7"
          ],
          "X-Selfurl": [
            "https://stats.bungie.net/platform/Destiny2/Stats/PostGameCarnageReport/fred/"
          ],
          "Bnetlb": [
            "LB0102"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"ErrorCode\":7,\"ThrottleSeconds\":0,\"ErrorStatus\":\"ParameterParseFailure\",\"Message\":\"Unable to parse your parameters.  Please correct them, and try again.\",\"MessageData\":{\"activityId\":\"Could not be parsed.\"}}"
        }
      },
      "recorded_at": "Sun, 03 Dec 2023 03:21:55 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://stats.bungie.net/platform/Destiny2/Stats/PostGameCarnageReport/0/",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Last-Modified": [
            "Sun, 03 Dec 2023 03:21:56 GMT"
          ],
          "X-Bungienext-Mid2": [
            "147"
          ],
          "X-Bungienext-Renderer": [
            "Frog Blast the Ventcore"
          ],
          "X-Ventcore-Status": [
            "1653"
          ],
          "X-Selfurl": [
            "https://stats.bungie.net/platform/Destiny2/Stats/PostGameCarnageReport/0/"
          ],
          "Bnetlb": [
            "LB0101"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"ErrorCode\":1653,\"ThrottleSeconds\":0,\"ErrorStatus\":\"DestinyPGCRNotFound\",\"Message\":\"The activity you were looking for was not found.\",\"MessageData\":{}}"
        }
      },
      "recorded_at": "Sun, 03 Dec 2023 03:21:56 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://stats.bungie.net/platform/Destiny2/Stats/PostGameCarnageReport/14024618384/",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Last-Modified": [
            "Sun, 03 Dec 2023 03:21:57 GMT"
          ],
          "X-Bungienext-Mid2": [
            "150"
          ],
          "X-Bungienext-Renderer": [
            "Frog Blast the Ventcore"
          ],
          "X-Ventcore-Status": [
            "1"
          ],
          "X-Selfurl": [
            "https://stats.bungie.net/platform/Destiny2/Stats/PostGameCarnageReport/14024618384/"
          ],
          "Bnetlb": [
            "LB0101"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"Response\":{\"period\":\"2023-11-02T09:32:00Z\",\"startingPhaseIndex\":0,\"activityWasStartedFromBeginning\":true,\"activityDetails\":{\"referenceId\":4179289725,\"directorActivityHash\":4179289725,\"instanceId\":\"14024618384\",\"mode\":4,\"modes\":[7,4],\"isPrivate\":false,\"membershipType\":0},\"entries\":[{\"standing\":0,\"score\":{\"basic\":{\"value\":0.0,\"displayValue\":\"0\"}},\"player\":{\"destinyUserInfo\":{\"iconPath\":\"/common/destiny2_content/icons/faebfbe99297b12668b02d0478e11dc0.jpg\",\"crossSaveOverride\":2,\"applicableMembershipTypes\":[3,2],\"isPublic\":true,\"membershipType\":2,\"membershipId\":\"4611686018434320441\",\"displayName\":\"Jilseret\",\"bungieGlobalDisplayName\":\"Jilseret\",\"bungieGlobalDisplayNameCode\":4469},\"characterClass\":\"Hunter\",\"classHash\":671679327,\"raceHash\":3887404748,\"genderHash\":3111576190,\"characterLevel\":50,\"lightLevel\":1825,\"emblemHash\":298334062},\"characterId\":\"2305843009267453685\",\"values\":{\"assists\":{\"basic\":{\"value\":141.0,\"displayValue\":\"141\"}},\"completed\":{\"basic\":{\"value\":1.0,\"displayValue\":\"Yes\"}},\"deaths\":{\"basic\":{\"value\":11.0,\"displayValue\":\"11\"}},\"kills\":{\"basic\":{\"value\":406.0,\"displayValue\":\"406\"}},\"opponentsDefeated\":{\"basic\":{\"value\":547.0,\"displayValue\":\"547\"}},\"efficiency\":{\"basic\":{\"value\":49.727272727272727,\"displayValue\":\"49.73\"}},\"killsDeathsRatio\":{\"basic\":{\"value\":36.909090909090907,\"displayValue\":\"36.91\"}},\"killsDeathsAssists\":{\"basic\":{\"value\":43.31818181818182,\"displayValue\":\"43.32\"}},\"score\":{\"basic\":{\"value\":0.0,\"displayValue\":\"0\"}},\"activityDurationSeconds\":{\"basic\":{\"value\":4623.0,\"displayValue\":\"1h 17m\"}},\"completionReason\":{\"basic\":{\"value\":0.0,\"displayValue\":\"Objective Completed\"}},\"fireteamId\":{\"basic\":{\"value\":-8.2425183807203666E+18,\"displayValue\":\"-2147483648\"}},\"startSeconds\":{\"basic\":{\"value\":153.0,\"displayValue\":\"2m 33s\"}},\"timePlayedSeconds\":{\"basic\":{\"value\":4470.0,\"displayValue\":\"1h 14m\"}},\"playerCount\":{\"basic\":{\"value\":9.0,\"displayValue\":\"9\"}},\"teamScore\":{\"basic\":{\"value\":0.0,\"displayValue\":\"0\"}}},\"extended\":{\"weapons\":[{\"referenceId\":2119346509,\"values\":{\"uniqueWeaponKills\":{\"basic\":{\"value\":198.0,\"displayValue\":\"198\"}},\"uniqueWeaponPrecisionKills\":{\"basic\":{\"value\":59.0,\"displayValue\":\"59\"}},\"uniqueWeaponKillsPrecisionKills\":{\"basic\":{\"value\":0.29797979797979796,\"displayValue\":\"30%\"}}}},{\"referenceId\":1432682459,\"values\":{\"uniqueWeaponKills\":{\"basic\":{\"value\":23.0,\"displayValue\":\"23\"}},\"uniqueWeaponPrecisionKills\":{\"basic\":{\"value\":2.0,\"displayValue\":\"2\"}},\"uniqueWeaponKillsPrecisionKills\":{\"basic\":{\"value\":0.086956521739130432,\"displayValue\":\"9%\"}}}},{\"referenceId\":1967303408,\"values\":{\"uniqueWeaponKills\":{\"basic\":{\"value\":1.0,\"displayValue\":\"1\"}},\"uniqueWeaponPrecisionKills\":{\"basic\":{\"value\":0.0,\"displayValue\":\"0\"}},\"uniqueWeaponKillsPrecisionKills\":{\"basic\":{\"value\":0.0,\"displayValue\":\"0%\"}}}},{\"referenceId\":833898322,\"values\":{\"uniqueWeaponKills\":{\"basic\":{\"value\":1.0,\"displayValue\":\"1\"}},\"uniqueWeaponPrecisionKills\":{\"basic\":{\"value\":1.0,\"displayValue\":\"1\"}},\"uniqueWeaponKillsPrecisionKills\":{\"basic\":{\"value\":1.0,\"displayValue\":\"100%\"}}}},{\"referenceId\":4036115577,\"values\":{\"uniqueWeaponKills\":{\"basic\":{\"value\":2.0,\"displayValue\":\"2\"}},\"uniqueWeaponPrecisionKills\":{\"basic\":{\"value\":0.0,\"displayValue\":\"0\"}},\"uniqueWeaponKillsPrecisionKills\":{\"basic\":{\"value\":0.0,\"displayValue\":\"0%\"}}}}],\"values\":{\"precisionKills\":{\"basic\":{\"value\":62.0,\"displayValue\":\"62\"}},\"weaponKillsGrenade\":{\"basic\":{\"value\":9.0,\"displayValue\":\"9\"}},\"weaponKillsMelee\":{\"basic\":{\"value\":9.0,\"displayValue\":\"9\"}},\"weaponKillsSuper\":{\"basic\":{\"value\":0.0,\"displayValue\":\"0\"}},\"weaponKillsAbility\":{\"basic\":{\"value\":9.0,\"displayValue\":\"9\"}}}}},{\"standing\":0,\"score\":{\"basic\":{\"value\":0.0,\"displayValue\":\"0\"}},\"player\":{\"destinyUserInfo\":{\"iconPath\":\"/common/destiny2_content/icons/3dfdfc97436bc16b71a9f165a89d1908.jpg\",\"crossSaveOverride\":0,\"applicableMembershipTypes\":[3],\"isPublic\":true,\"membershipType\":3,\"membershipId\":\"4611686018467386348\",\"displayName\":\"AmbultoryFungus\",\"bungieGlobalDisplayName\":\"Rambo\",\"bungieGlobalDisplayNameCode\":3521},\[...]
