{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.bungie.net/platform/Destiny2/Manifest/",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-api-key": [
            "<API_KEY>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "last-modified": [
            "Sun, 23 Jul 2023 01:20:30 GMT"
          ],
          "x-bungienext-mid2": [
            "177"
          ],
          "x-bungienext-renderer": [
            "Frog Blast the Ventcore"
          ],
          "x-ventcore-status": [
            "1"
          ],
          "x-selfurl": [
            "https://www.bungie.net/platform/Destiny2/Manifest/"
          ],
          "bnetlb": [
            "LB0101"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"Response\":{\"version\":\"116870.23.06.29.1900-1-bnet.51013\",\"mobileAssetContentPath\":\"/common/destiny2_content/sqlite/asset/asset_sql_content_55ee5fd54adcb781ff32e7aa74a64670.content\",\"mobileGearAssetDataBases\":[{\"version\":0,\"path\":\"/common/destiny2_content/sqlite/asset/asset_sql_content_55ee5fd54adcb781ff32e7aa74a64670.content\"},{\"version\":1,\"path\":\"/common/destiny2_content/sqlite/asset/asset_sql_content_8e79993023d3708a5a8f74c025075f23.content\"},{\"version\":2,\"path\":\"/common/destiny2_content/sqlite/asset/asset_sql_content_8e79993023d3708a5a8f74c025075f23.content\"}],\"mobileWorldContentPaths\":{\"en\":\"/common/destiny2_content/sqlite/en/world_sql_content_82c377013bea4b9c80747756ba4d9726.content\",\"fr\":\"/common/destiny2_content/sqlite/fr/world_sql_content_230929be68cd6ca4dd169ff4d9b07831.content\",\"es\":\"/common/destiny2_content/sqlite/es/world_sql_content_eeb2d55ecd8899ec49c3e8d7c8cbf4f4.content\",\"es-mx\":\"/common/destiny2_content/sqlite/es-mx/world_sql_content_6b34dd09e6007eb8896a607caa216932.content\",\"de\":\"/common/destiny2_content/sqlite/de/world_sql_content_1a5b2b89585f8cbec82b232c88fadf3c.content\",\"it\":\"/common/destiny2_content/sqlite/it/world_sql_content_4b6892ae3e766c5b0c5175ca8098a312.content\",\"ja\":\"/common/destiny2_content/sqlite/ja/world_sql_content_d28d0f14af161e23b944bdf5bd895d7f.content\",\"pt-br\":\"/common/destiny2_content/sqlite/pt-br/world_sql_content_b40591ceb097d748986d7899a96663aa.content\",\"ru\":\"/common/destiny2_content/sqlite/ru/world_sql_content_67dae6258c7ea6f6cfdd961ed01e0200.content\",\"pl\":\"/common/destiny2_content/sqlite/pl/world_sql_content_a1bcaffd9fd418cfdd80176695f1f9c0.content\",\"ko\":\"/common/destiny2_content/sqlite/ko/world_sql_content_ccf72324440ff1f1563f2da209e4a1d8.content\",\"zh-cht\":\"/common/destiny2_content/sqlite/zh-cht/world_sql_content_be165d0e729b4081a768943fe4c3492c.content\",\"zh-chs\":\"/common/destiny2_content/sqlite/zh-chs/world_sql_content_7ebc060715420247e52941ee06c2fb2c.content\"},\"jsonWorldContentPaths\":{\"en\":\"/common/destiny2_content/json/en/aggregate-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"fr\":\"/common/destiny2_content/json/fr/aggregate-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"es\":\"/common/destiny2_content/json/es/aggregate-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"es-mx\":\"/common/destiny2_content/json/es-mx/aggregate-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"de\":\"/common/destiny2_content/json/de/aggregate-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"it\":\"/common/destiny2_content/json/it/aggregate-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"ja\":\"/common/destiny2_content/json/ja/aggregate-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"pt-br\":\"/common/destiny2_content/json/pt-br/aggregate-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"ru\":\"/common/destiny2_content/json/ru/aggregate-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"pl\":\"/common/destiny2_content/json/pl/aggregate-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"ko\":\"/common/destiny2_content/json/ko/aggregate-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"zh-cht\":\"/common/destiny2_content/json/zh-cht/aggregate-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"zh-chs\":\"/common/destiny2_content/json/zh-chs/aggregate-8931520c-d19d-4d9a-93f7-d995f59a834e.json\"},\"jsonWorldComponentContentPaths\":{\"en\":{\"DestinyNodeStepSummaryDefinition\":\"/common/destiny2_content/json/en/DestinyNodeStepSummaryDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyArtDyeChannelDefinition\":\"/common/destiny2_content/json/en/DestinyArtDyeChannelDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyArtDyeReferenceDefinition\":\"/common/destiny2_content/json/en/DestinyArtDyeReferenceDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyPlaceDefinition\":\"/common/destiny2_content/json/en/DestinyPlaceDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyActivityDefinition\":\"/common/destiny2_content/json/en/DestinyActivityDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyActivityTypeDefinition\":\"/common/destiny2_content/json/en/DestinyActivityTypeDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyClassDefinition\":\"/common/destiny2_content/json/en/DestinyClassDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyGenderDefinition\":\"/common/destiny2_content/json/en/DestinyGenderDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyInventoryBucketDefinition\":\"/common/destiny2_content/json/en/DestinyInventoryBucketDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyRaceDefinition\":\"/common/destiny2_content/json/en/DestinyRaceDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyTalentGridDefinition\":\"/common/destiny2_content/json/en/DestinyTalentGridDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyUnlockDefinition\":\"/common/destiny2_content/json/en/DestinyUnlockDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinySandboxPerkDefinition\":\"/common/destiny2_content/json/en/DestinySandboxPerkDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyStatGroupDefinition\":\"/common/destiny2_content/json/en/DestinyStatGroupDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyProgressionMappingDefinition\":\"/common/destiny2_content/json/en/DestinyProgressionMappingDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyFactionDefinition\":\"/common/destiny2_content/json/en/DestinyFactionDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyVendorGroupDefinition\":\"/common/destiny2_content/json/en/DestinyVendorGroupDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyRewardSourceDefinition\":\"/common/destiny2_content/json/en/DestinyRewardSourceDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyUnlockValueDefinition\":\"/common/destiny2_content/json/en/DestinyUnlockValueDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyRewardMappingDefinition\":\"/common/destiny2_content/json/en/DestinyRewardMappingDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyRewardSheetDefinition\":\"/common/destiny2_content/json/en/DestinyRewardSheetDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyItemCategoryDefinition\":\"/common/destiny2_content/json/en/DestinyItemCategoryDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyDamageTypeDefinition\":\"/common/destiny2_content/json/en/DestinyDamageTypeDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyActivityModeDefinition\":\"/common/destiny2_content/json/en/DestinyActivityModeDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyMedalTierDefinition\":\"/common/destiny2_content/json/en/DestinyMedalTierDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyAchievementDefinition\":\"/common/destiny2_content/json/en/DestinyAchievementDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyActivityGraphDefinition\":\"/common/destiny2_content/json/en/DestinyActivityGraphDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyActivityInteractableDefinition\":\"/common/destiny2_content/json/en/DestinyActivityInteractableDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyBondDefinition\":\"/common/destiny2_content/json/en/DestinyBondDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyCharacterCustomizationCategoryDefinition\":\"/common/destiny2_content/json/en/DestinyCharacterCustomizationCategoryDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyCharacterCustomizationOptionDefinition\":\"/common/destiny2_content/json/en/DestinyCharacterCustomizationOptionDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyCollectibleDefinition\":\"/common/destiny2_content/json/en/DestinyCollectibleDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyDestinationDefinition\":\"/common/destiny2_content/json/en/DestinyDestinationDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyEntitlementOfferDefinition\":\"/common/destiny2_content/json/en/DestinyEntitlementOfferDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyEquipmentSlotDefinition\":\"/common/destiny2_content/json/en/DestinyEquipmentSlotDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyEventCardDefinition\":\"/common/destiny2_content/json/en/DestinyEventCardDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyStatDefinition\":\"/common/destiny2_content/json/en/DestinyStatDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyInventoryItemDefinition\":\"/common/destiny2_content/json/en/DestinyInventoryItemDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyInventoryItemLiteDefinition\":\"/common/destiny2_content/json/en/DestinyInventoryItemLiteDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyItemTierTypeDefinition\":\"/common/destiny2_content/json/en/DestinyItemTierTypeDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyLoadoutColorDefinition\":\"/common/destiny2_content/json/en/DestinyLoadoutColorDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyLoadoutIconDefinition\":\"/common/destiny2_content/json/en/DestinyLoadoutIconDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyLoadoutNameDefinition\":\"/common/destiny2_content/json/en/DestinyLoadoutNameDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyLocationDefinition\":\"/common/destiny2_content/json/en/DestinyLocationDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyLoreDefinition\":\"/common/destiny2_content/json/en/DestinyLoreDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyMaterialRequirementSetDefinition\":\"/common/destiny2_content/json/en/DestinyMaterialRequirementSetDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyMetricDefinition\":\"/common/destiny2_content/json/en/DestinyMetricDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyObjectiveDefinition\":\"/common/destiny2_content/json/en/DestinyObjectiveDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyPlatformBucketMappingDefinition\":\"/common/destiny2_content/json/en/DestinyPlatformBucketMappingDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyPlugSetDefinition\":\"/common/destiny2_content/json/en/DestinyPlugSetDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyPowerCapDefinition\":\"/common/destiny2_content/json/en/DestinyPowerCapDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyPresentationNodeDefinition\":\"/common/destiny2_content/json/en/DestinyPresentationNodeDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyProgressionDefinition\":\"/common/destiny2_content/json/en/DestinyProgressionDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyProgressionLevelRequirementDefinition\":\"/common/destiny2_content/json/en/DestinyProgressionLevelRequirementDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyRecordDefinition\":\"/common/destiny2_content/json/en/DestinyRecordDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyRewardAdjusterPointerDefinition\":\"/common/destiny2_content/json/en/DestinyRewardAdjusterPointerDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyRewardAdjusterProgressionMapDefinition\":\"/common/destiny2_content/json/en/DestinyRewardAdjusterProgressionMapDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyRewardItemListDefinition\":\"/common/destiny2_content/json/en/DestinyRewardItemListDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinySackRewardItemListDefinition\":\"/common/destiny2_content/json/en/DestinySackRewardItemListDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinySandboxPatternDefinition\":\"/common/destiny2_content/json/en/DestinySandboxPatternDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinySeasonDefinition\":\"/common/destiny2_content/json/en/DestinySeasonDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinySeasonPassDefinition\":\"/common/destiny2_content/json/en/DestinySeasonPassDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinySocialCommendationDefinition\":\"/common/destiny2_content/json/en/DestinySocialCommendationDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinySocketCategoryDefinition\":\"/common/destiny2_content/json/en/DestinySocketCategoryDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinySocketTypeDefinition\":\"/common/destiny2_content/json/en/DestinySocketTypeDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyTraitDefinition\":\"/common/destiny2_content/json/en/DestinyTraitDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyUnlockCountMappingDefinition\":\"/common/destiny2_content/json/en/DestinyUnlockCountMappingDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyUnlockEventDefinition\":\"/common/destiny2_content/json/en/DestinyUnlockEventDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyUnlockExpressionMappingDefinition\":\"/common/destiny2_content/json/en/DestinyUnlockExpressionMappingDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyVendorDefinition\":\"/common/destiny2_content/json/en/DestinyVendorDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyMilestoneDefinition\":\"/common/destiny2_content/json/en/DestinyMilestoneDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyActivityModifierDefinition\":\"/common/destiny2_content/json/en/DestinyActivityModifierDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyReportReasonCategoryDefinition\":\"/common/destiny2_content/json/en/DestinyReportReasonCategoryDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyArtifactDefinition\":\"/common/destiny2_content/json/en/DestinyArtifactDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyBreakerTypeDefinition\":\"/common/destiny2_content/json/en/DestinyBreakerTypeDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyChecklistDefinition\":\"/common/destiny2_content/json/en/DestinyChecklistDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyEnergyTypeDefinition\":\"/common/destiny2_content/json/en/DestinyEnergyTypeDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinySocialCommendationNodeDefinition\":\"/common/destiny2_content/json/en/DestinySocialCommendationNodeDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyGuardianRankDefinition\":\"/common/destiny2_content/json/en/DestinyGuardianRankDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyGuardianRankConstantsDefinition\":\"/common/destiny2_content/json/en/DestinyGuardianRankConstantsDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyLoadoutConstantsDefinition\":\"/common/destiny2_content/json/en/DestinyLoadoutConstantsDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\"},\"fr\":{\"DestinyNodeStepSummaryDefinition\":\"/common/destiny2_content/json/fr/DestinyNodeStepSummaryDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyArtDyeChannelDefinition\":\"/common/destiny2_content/json/fr/DestinyArtDyeChannelDefinition-8931520c-d19d-4d9a-93f7-d995f59a834e.json\",\"DestinyArtDyeReferenceDefinition\":\"/common/destiny2_content/json/fr/DestinyArtDy[...]
