{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.bungie.net/platform/Destiny2/Manifest/",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-api-key": [
            "<API_KEY>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "last-modified": [
            "Wed, 05 Jul 2023 02:05:16 GMT"
          ],
          "x-bungienext-mid2": [
            "179"
          ],
          "x-bungienext-renderer": [
            "Frog Blast the Ventcore"
          ],
          "x-ventcore-status": [
            "1"
          ],
          "x-selfurl": [
            "https://www.bungie.net/platform/Destiny2/Manifest/"
          ],
          "bnetlb": [
            "LB0101"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"Response\":{\"version\":\"116623.23.06.21.1700-1-bnet.50812\",\"mobileAssetContentPath\":\"/common/destiny2_content/sqlite/asset/asset_sql_content_49c0c9dd98df8d1d868f5f01e62039e1.content\",\"mobileGearAssetDataBases\":[{\"version\":0,\"path\":\"/common/destiny2_content/sqlite/asset/asset_sql_content_49c0c9dd98df8d1d868f5f01e62039e1.content\"},{\"version\":1,\"path\":\"/common/destiny2_content/sqlite/asset/asset_sql_content_66c6099cbe3063d7df92023f5048753b.content\"},{\"version\":2,\"path\":\"/common/destiny2_content/sqlite/asset/asset_sql_content_66c6099cbe3063d7df92023f5048753b.content\"}],\"mobileWorldContentPaths\":{\"en\":\"/common/destiny2_content/sqlite/en/world_sql_content_5526634647a4f9b561719856bb5f33e5.content\",\"fr\":\"/common/destiny2_content/sqlite/fr/world_sql_content_a0977d0802a227e2c0cdb3970d4b4d25.content\",\"es\":\"/common/destiny2_content/sqlite/es/world_sql_content_87d93e7023d1cd6ca5384ef1d28c6607.content\",\"es-mx\":\"/common/destiny2_content/sqlite/es-mx/world_sql_content_40d18fa1fb3404aff9f33f8182352bd1.content\",\"de\":\"/common/destiny2_content/sqlite/de/world_sql_content_7f22e01d5898f7f4bbb84ca430b7db12.content\",\"it\":\"/common/destiny2_content/sqlite/it/world_sql_content_82c58cc7aa391d0916e4f20323e7fe7c.content\",\"ja\":\"/common/destiny2_content/sqlite/ja/world_sql_content_fd4719ae70f4047218c2a03859c9bb83.content\",\"pt-br\":\"/common/destiny2_content/sqlite/pt-br/world_sql_content_616574f6fc846e592dd35751d5047a82.content\",\"ru\":\"/common/destiny2_content/sqlite/ru/world_sql_content_194c8b92f1b15160549f76f270d558e3.content\",\"pl\":\"/common/destiny2_content/sqlite/pl/world_sql_content_c204f0f31ed9f68b46b8b3ddc86d4d01.content\",\"ko\":\"/common/destiny2_content/sqlite/ko/world_sql_content_bf71c19d01659fee9f7a8a32b3200457.content\",\"zh-cht\":\"/common/destiny2_content/sqlite/zh-cht/world_sql_content_27ff01239eb6bb68eb70393d6a992bb9.content\",\"zh-chs\":\"/common/destiny2_content/sqlite/zh-chs/world_sql_content_6e1ee8a0d6a28af305be937fa472b8b2.content\"},\"jsonWorldContentPaths\":{\"en\":\"/common/destiny2_content/json/en/aggregate-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"fr\":\"/common/destiny2_content/json/fr/aggregate-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"es\":\"/common/destiny2_content/json/es/aggregate-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"es-mx\":\"/common/destiny2_content/json/es-mx/aggregate-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"de\":\"/common/destiny2_content/json/de/aggregate-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"it\":\"/common/destiny2_content/json/it/aggregate-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"ja\":\"/common/destiny2_content/json/ja/aggregate-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"pt-br\":\"/common/destiny2_content/json/pt-br/aggregate-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"ru\":\"/common/destiny2_content/json/ru/aggregate-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"pl\":\"/common/destiny2_content/json/pl/aggregate-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"ko\":\"/common/destiny2_content/json/ko/aggregate-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"zh-cht\":\"/common/destiny2_content/json/zh-cht/aggregate-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"zh-chs\":\"/common/destiny2_content/json/zh-chs/aggregate-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\"},\"jsonWorldComponentContentPaths\":{\"en\":{\"DestinyNodeStepSummaryDefinition\":\"/common/destiny2_content/json/en/DestinyNodeStepSummaryDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyArtDyeChannelDefinition\":\"/common/destiny2_content/json/en/DestinyArtDyeChannelDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyArtDyeReferenceDefinition\":\"/common/destiny2_content/json/en/DestinyArtDyeReferenceDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyPlaceDefinition\":\"/common/destiny2_content/json/en/DestinyPlaceDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyActivityDefinition\":\"/common/destiny2_content/json/en/DestinyActivityDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyActivityTypeDefinition\":\"/common/destiny2_content/json/en/DestinyActivityTypeDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyClassDefinition\":\"/common/destiny2_content/json/en/DestinyClassDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyGenderDefinition\":\"/common/destiny2_content/json/en/DestinyGenderDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyInventoryBucketDefinition\":\"/common/destiny2_content/json/en/DestinyInventoryBucketDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyRaceDefinition\":\"/common/destiny2_content/json/en/DestinyRaceDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyTalentGridDefinition\":\"/common/destiny2_content/json/en/DestinyTalentGridDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyUnlockDefinition\":\"/common/destiny2_content/json/en/DestinyUnlockDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinySandboxPerkDefinition\":\"/common/destiny2_content/json/en/DestinySandboxPerkDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyStatGroupDefinition\":\"/common/destiny2_content/json/en/DestinyStatGroupDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyProgressionMappingDefinition\":\"/common/destiny2_content/json/en/DestinyProgressionMappingDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyFactionDefinition\":\"/common/destiny2_content/json/en/DestinyFactionDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyVendorGroupDefinition\":\"/common/destiny2_content/json/en/DestinyVendorGroupDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyRewardSourceDefinition\":\"/common/destiny2_content/json/en/DestinyRewardSourceDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyUnlockValueDefinition\":\"/common/destiny2_content/json/en/DestinyUnlockValueDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyRewardMappingDefinition\":\"/common/destiny2_content/json/en/DestinyRewardMappingDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyRewardSheetDefinition\":\"/common/destiny2_content/json/en/DestinyRewardSheetDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyItemCategoryDefinition\":\"/common/destiny2_content/json/en/DestinyItemCategoryDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyDamageTypeDefinition\":\"/common/destiny2_content/json/en/DestinyDamageTypeDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyActivityModeDefinition\":\"/common/destiny2_content/json/en/DestinyActivityModeDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyMedalTierDefinition\":\"/common/destiny2_content/json/en/DestinyMedalTierDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyAchievementDefinition\":\"/common/destiny2_content/json/en/DestinyAchievementDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyActivityGraphDefinition\":\"/common/destiny2_content/json/en/DestinyActivityGraphDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyActivityInteractableDefinition\":\"/common/destiny2_content/json/en/DestinyActivityInteractableDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyBondDefinition\":\"/common/destiny2_content/json/en/DestinyBondDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyCharacterCustomizationCategoryDefinition\":\"/common/destiny2_content/json/en/DestinyCharacterCustomizationCategoryDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyCharacterCustomizationOptionDefinition\":\"/common/destiny2_content/json/en/DestinyCharacterCustomizationOptionDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyCollectibleDefinition\":\"/common/destiny2_content/json/en/DestinyCollectibleDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyDestinationDefinition\":\"/common/destiny2_content/json/en/DestinyDestinationDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyEntitlementOfferDefinition\":\"/common/destiny2_content/json/en/DestinyEntitlementOfferDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyEquipmentSlotDefinition\":\"/common/destiny2_content/json/en/DestinyEquipmentSlotDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyEventCardDefinition\":\"/common/destiny2_content/json/en/DestinyEventCardDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyStatDefinition\":\"/common/destiny2_content/json/en/DestinyStatDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyInventoryItemDefinition\":\"/common/destiny2_content/json/en/DestinyInventoryItemDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyInventoryItemLiteDefinition\":\"/common/destiny2_content/json/en/DestinyInventoryItemLiteDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyItemTierTypeDefinition\":\"/common/destiny2_content/json/en/DestinyItemTierTypeDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyLoadoutColorDefinition\":\"/common/destiny2_content/json/en/DestinyLoadoutColorDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyLoadoutIconDefinition\":\"/common/destiny2_content/json/en/DestinyLoadoutIconDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyLoadoutNameDefinition\":\"/common/destiny2_content/json/en/DestinyLoadoutNameDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyLocationDefinition\":\"/common/destiny2_content/json/en/DestinyLocationDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyLoreDefinition\":\"/common/destiny2_content/json/en/DestinyLoreDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyMaterialRequirementSetDefinition\":\"/common/destiny2_content/json/en/DestinyMaterialRequirementSetDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyMetricDefinition\":\"/common/destiny2_content/json/en/DestinyMetricDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyObjectiveDefinition\":\"/common/destiny2_content/json/en/DestinyObjectiveDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyPlatformBucketMappingDefinition\":\"/common/destiny2_content/json/en/DestinyPlatformBucketMappingDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyPlugSetDefinition\":\"/common/destiny2_content/json/en/DestinyPlugSetDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyPowerCapDefinition\":\"/common/destiny2_content/json/en/DestinyPowerCapDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyPresentationNodeDefinition\":\"/common/destiny2_content/json/en/DestinyPresentationNodeDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyProgressionDefinition\":\"/common/destiny2_content/json/en/DestinyProgressionDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyProgressionLevelRequirementDefinition\":\"/common/destiny2_content/json/en/DestinyProgressionLevelRequirementDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyRecordDefinition\":\"/common/destiny2_content/json/en/DestinyRecordDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyRewardAdjusterPointerDefinition\":\"/common/destiny2_content/json/en/DestinyRewardAdjusterPointerDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyRewardAdjusterProgressionMapDefinition\":\"/common/destiny2_content/json/en/DestinyRewardAdjusterProgressionMapDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyRewardItemListDefinition\":\"/common/destiny2_content/json/en/DestinyRewardItemListDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinySackRewardItemListDefinition\":\"/common/destiny2_content/json/en/DestinySackRewardItemListDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinySandboxPatternDefinition\":\"/common/destiny2_content/json/en/DestinySandboxPatternDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinySeasonDefinition\":\"/common/destiny2_content/json/en/DestinySeasonDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinySeasonPassDefinition\":\"/common/destiny2_content/json/en/DestinySeasonPassDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinySocialCommendationDefinition\":\"/common/destiny2_content/json/en/DestinySocialCommendationDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinySocketCategoryDefinition\":\"/common/destiny2_content/json/en/DestinySocketCategoryDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinySocketTypeDefinition\":\"/common/destiny2_content/json/en/DestinySocketTypeDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyTraitDefinition\":\"/common/destiny2_content/json/en/DestinyTraitDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyUnlockCountMappingDefinition\":\"/common/destiny2_content/json/en/DestinyUnlockCountMappingDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyUnlockEventDefinition\":\"/common/destiny2_content/json/en/DestinyUnlockEventDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyUnlockExpressionMappingDefinition\":\"/common/destiny2_content/json/en/DestinyUnlockExpressionMappingDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyVendorDefinition\":\"/common/destiny2_content/json/en/DestinyVendorDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyMilestoneDefinition\":\"/common/destiny2_content/json/en/DestinyMilestoneDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyActivityModifierDefinition\":\"/common/destiny2_content/json/en/DestinyActivityModifierDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyReportReasonCategoryDefinition\":\"/common/destiny2_content/json/en/DestinyReportReasonCategoryDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyArtifactDefinition\":\"/common/destiny2_content/json/en/DestinyArtifactDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyBreakerTypeDefinition\":\"/common/destiny2_content/json/en/DestinyBreakerTypeDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyChecklistDefinition\":\"/common/destiny2_content/json/en/DestinyChecklistDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyEnergyTypeDefinition\":\"/common/destiny2_content/json/en/DestinyEnergyTypeDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinySocialCommendationNodeDefinition\":\"/common/destiny2_content/json/en/DestinySocialCommendationNodeDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyGuardianRankDefinition\":\"/common/destiny2_content/json/en/DestinyGuardianRankDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyGuardianRankConstantsDefinition\":\"/common/destiny2_content/json/en/DestinyGuardianRankConstantsDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyLoadoutConstantsDefinition\":\"/common/destiny2_content/json/en/DestinyLoadoutConstantsDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\"},\"fr\":{\"DestinyNodeStepSummaryDefinition\":\"/common/destiny2_content/json/fr/DestinyNodeStepSummaryDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyArtDyeChannelDefinition\":\"/common/destiny2_content/json/fr/DestinyArtDyeChannelDefinition-c33caae3-f290-4b0e-8587-985c2f6f3c4b.json\",\"DestinyArtDyeReferenceDefinition\":\"/common/destiny2_content/json/fr/DestinyArtDy[...]
