{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.bungie.net/platform/Destiny2/2/Profile/4611686018462034842/?components=babydog",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-api-key": [
            "<API_KEY>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 500,
          "message": "Internal Server Error"
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "x-bungienext-mid2": [
            "162"
          ],
          "x-bungienext-renderer": [
            "Frog Blast the Ventcore"
          ],
          "x-ventcore-status": [
            "7"
          ],
          "x-selfurl": [
            "https://www.bungie.net/platform/Destiny2/2/Profile/4611686018462034842/?components=babydog"
          ],
          "bnetlb": [
            "LB0302"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"ErrorCode\":7,\"ThrottleSeconds\":0,\"ErrorStatus\":\"ParameterParseFailure\",\"Message\":\"Unable to parse your parameters.  Please correct them, and try again.\",\"MessageData\":{\"Value babydog cannot be parsed.\":\"Could not be parsed.\"}}"
        }
      },
      "recorded_at": "Fri, 03 Nov 2023 21:53:57 GMT"
    }
  ],
  "recorded_with": "VCR 6.1.0"
}