{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.bungie.net/platform//Destiny2/2/Profile/4611686018462034842/?components=204",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Bungienext-Mid2": [
            "185"
          ],
          "X-Bungienext-Renderer": [
            "Frog Blast the Ventcore"
          ],
          "X-Ventcore-Status": [
            "1"
          ],
          "X-Selfurl": [
            "https://www.bungie.net/platform/Destiny2/2/Profile/4611686018462034842/?components=204"
          ],
          "Bnetlb": [
            "LB0302"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"Response\":{\"responseMintedTimestamp\":\"2023-12-02T23:25:39.043Z\",\"secondaryComponentsMintedTimestamp\":\"0001-01-01T00:00:00Z\",\"characterActivities\":{\"data\":{\"2305843009316446082\":{\"dateActivityStarted\":\"2023-12-02T23:11:22Z\",\"availableActivities\":[{\"activityHash\":2185538252,\"isNew\":false,\"canLead\":true,\"canJoin\":true,\"isCompleted\":true,\"isVisible\":true,\"displayLevel\":50,\"recommendedLight\":1600,\"difficultyTier\":2,\"modifierHashes\":[1783825372]},{\"activityHash\":2784452573,\"isNew\":false,\"canLead\":true,\"canJoin\":true,\"isCompleted\":true,\"isVisible\":true,\"displayLevel\":50,\"recommendedLight\":1600,\"difficultyTier\":2},{\"activityHash\":1811470891,\"isNew\":false,\"canLead\":true,\"canJoin\":true,\"isCompleted\":true,\"isVisible\":true,\"displayLevel\":50,\"recommendedLight\":1600,\"difficultyTier\":2,\"modifierHashes\":[1783825372],\"booleanActivityOptions\":{\"616102029\":true,\"4077584575\":true}},{\"activityHash\":1081239042,\"isNew\":false,\"canLead\":true,\"canJoin\":true,\"isCompleted\":false,\"isVisible\":true,\"difficultyTier\":2},{\"activityHash\":951916121,\"isNew\":false,\"canLead\":true,\"canJoin\":true,\"isCompleted\":false,\"isVisible\":true,\"difficultyTier\":2},{\"activityHash\":174131855,\"isNew\":false,\"canLead\":true,\"canJoin\":true,\"isCompleted\":true,\"isVisible\":true,\"displayLevel\":50,\"recommendedLight\":1610,\"difficult[...]
