{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.bungie.net/platform//Destiny2/2/Profile/4611686018462034842/?components=203",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Bungienext-Mid2": [
            "189"
          ],
          "X-Bungienext-Renderer": [
            "Frog Blast the Ventcore"
          ],
          "X-Ventcore-Status": [
            "1"
          ],
          "X-Selfurl": [
            "https://www.bungie.net/platform/Destiny2/2/Profile/4611686018462034842/?components=203"
          ],
          "Bnetlb": [
            "LB0101"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"Response\":{\"responseMintedTimestamp\":\"2023-12-02T23:25:35.432Z\",\"secondaryComponentsMintedTimestamp\":\"0001-01-01T00:00:00Z\",\"characterRenderData\":{\"data\":{\"2305843009316446082\":{\"customDyes\":[],\"customization\":{\"personality\":2166136261,\"face\":2695914755,\"skinColor\":1815484270,\"lipColor\":2571618617,\"eyeColor\":1511637744,\"hairColors\":[1826752905,428677368,3511573271],\"featureColors\":[2166136261,2166136261,3769061211],\"decalColor\":2166136261,\"wearHelmet\":false,\"hairIndex\":3,\"featureIndex\":0,\"decalIndex\":255},\"peerView\":{\"equipment\":[{\"itemHash\":3941205951,\"dyes\":[]},{\"itemHash\":4196904014,\"dyes\":[{\"channelHash\":662199250,\"dyeHash\":725808729},{\"channelHash\":1367384683,\"dyeHash\":1528312552},{\"channelHash\":218592586,\"dyeHash\":89296151}]},{\"itemHash\":2780717641,\"dyes\":[{\"channelHash\":662199250,\"dyeHash\":1300209792},{\"channelHash\":1367384683,\"dyeHash\":2119809365},{\"channelHash\":218592586,\"dyeHash\":2174336812}]},{\"itemHash\":3400974073,\"dyes\":[{\"channelHash\":662199250,\"dyeHash\":725808729},{\"channelHash\":1367384683,\"dyeHash\":1528312552},{\"channelHash\":218592586,\"dyeHash\":89296151}]},{\"item[...]
