{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.bungie.net/platform//Destiny2/2/Profile/4611686018462034842/?components=206",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Bungienext-Mid2": [
            "184"
          ],
          "X-Bungienext-Renderer": [
            "Frog Blast the Ventcore"
          ],
          "X-Ventcore-Status": [
            "1"
          ],
          "X-Selfurl": [
            "https://www.bungie.net/platform/Destiny2/2/Profile/4611686018462034842/?components=206"
          ],
          "Bnetlb": [
            "LB0101"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"Response\":{\"responseMintedTimestamp\":\"2023-12-02T23:25:40.149Z\",\"secondaryComponentsMintedTimestamp\":\"0001-01-01T00:00:00Z\",\"characterLoadouts\":{\"data\":{\"2305843009316446082\":{\"loadouts\":[{\"colorHash\":1693821584,\"iconHash\":1143786714,\"nameHash\":752612098,\"items\":[{\"itemInstanceId\":\"6917529112057500512\",\"plugItemHashes\":[2166136261,4090651448,3142289711,2921090754,3575125069,3917450714,2166136261,2166136261,2166136261,2302094943,2166136261,2166136261,2166136261,2166136261,2166136261,2166136261]},{\"itemInstanceId\":\"6917529836014750883\",\"plugItemHashes\":[2166136261,981914802,2822142346,1583705720,2610012052,4115783783,4091000557,2166136261,3363267119,905869860,2166136261,2166136261,2166136261,2166136261,2166136261,2166136261]},{\"itemInstanceId\":\"6917529952721904525\",\"plugItemHashes\":[2166136261,981914[...]
