{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.bungie.net/platform//Destiny2/2/Profile/4611686018462034842/?components=201",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Bungienext-Mid2": [
            "183"
          ],
          "X-Bungienext-Renderer": [
            "Frog Blast the Ventcore"
          ],
          "X-Ventcore-Status": [
            "1"
          ],
          "X-Selfurl": [
            "https://www.bungie.net/platform/Destiny2/2/Profile/4611686018462034842/?components=201"
          ],
          "Bnetlb": [
            "LB0102"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"Response\":{\"responseMintedTimestamp\":\"2023-12-02T23:25:36.853Z\",\"secondaryComponentsMintedTimestamp\":\"0001-01-01T00:00:00Z\",\"characterInventories\":{\"data\":{\"2305843009316446082\":{\"items\":[{\"itemHash\":400096939,\"itemInstanceId\":\"6917529351589440809\",\"quantity\":1,\"bindStatus\":0,\"location\":1,\"bucketHash\":1498876634,\"transferStatus\":0,\"lockable\":true,\"state\":5,\"dismantlePermission\":1,\"isWrapper\":false,\"tooltipNotificationIndexes\":[],\"versionNumber\":0},{\"itemHash\":2767393525,\"itemInstanceId\":\"6917529959764050520\",\"quantity\":1,\"bindStatus\":0,\"location\":1,\"bucketHash\":1498876634,\"transferStatus\":0,\"lockable\":true,\"state\":1,\"dismantlePermission\":2,\"isWrapper\":false,\"tooltipNotificationIndexes\":[],\"versionNumber\":0},{\"itemHash\":839344841,\"itemInstanceId\":\"6917529959778818558\",\"quantity\":1,\"bindStatus\":0,\"location\":1,\"bucketHash\":1498876634,\"transferStatus\":0,\"lockable\":false,\"state\":1,\"dismantlePermission\":0,\"isWrapper\":false},{\"itemHash\":484515708,\"itemInstanceId\":\"6917529946171378241\",\"quantity\":1,\"bindStatus\":0,\"location\":1,\"bucketHash\":1498876634,\"transferStatus\":0,\"lockable\":true,\"state\":8,\"dismantlePermission\":2,\"isWrapper\":false,\"tooltipNotificationIndexes\":[],\"versionNumber\":0},{\"itemHash\":839344841,\"itemInstanceId\":\"6917529959778816321\",\"quantity\":1,\"bindStatus\":0,\"location\":1,\"bucketHash\":1498876634,\"transferStatus\":0,\"lockable\":false,\"state\":0,\"dismantlePermission\":0,\"isWrapper\":false},{\"itemHash\":1034055198,\"itemInstanceId\":\"6917529955722563201\",\"quantity\":1,\"bindStatus\":0,\"location\":1,\"bucketHash\":1498876634,\"transferStatus\":0,\"lockable\":true,\"state\":0,\"dismantlePermission\":1,\"overrideStyleItemHash\":138477739,\"isWrapper\":false,\"tooltipNotificationIndexes\":[],\"versionNumber\":0},{\"itemHash\":4293613902,\"itemInstanceId\":\"6917529810649473219\",\"quantity\":1,\"bindStatus\":0,\"location\":1,\"bucketHash\":1498876634,\"transferStatus\":0,\"lockable\":true,\"state\":5,\"dismantlePermission\":1,\"isWrapper\":false,\"tooltipNotificationIndexes\":[],\"versionNumber\":0},{\"itemHash\":996109059,\"itemInstanceId\":\"6917529959762070768\",\"quantity\":1,\"bindStatus\":0,\"location\":1,\"bucket[...]
