{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.bungie.net/platform//Destiny2/2/Profile/4611686018462034842/?components=205",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Bungienext-Mid2": [
            "189"
          ],
          "X-Bungienext-Renderer": [
            "Frog Blast the Ventcore"
          ],
          "X-Ventcore-Status": [
            "1"
          ],
          "X-Selfurl": [
            "https://www.bungie.net/platform/Destiny2/2/Profile/4611686018462034842/?components=205"
          ],
          "Bnetlb": [
            "LB0101"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"Response\":{\"responseMintedTimestamp\":\"2023-12-02T23:25:35.432Z\",\"secondaryComponentsMintedTimestamp\":\"0001-01-01T00:00:00Z\",\"characterEquipment\":{\"data\":{\"2305843009316446082\":{\"items\":[{\"itemHash\":3973202132,\"itemInstanceId\":\"6917529112057500512\",\"quantity\":1,\"bindStatus\":0,\"location\":1,\"bucketHash\":1498876634,\"transferStatus\":1,\"lockable\":true,\"state\":1,\"dismantlePermission\":1,\"overrideStyleItemHash\":3575125069,\"isWrapper\":false,\"tooltipNotificationIndexes\":[],\"versionNumber\":0},{\"itemHash\":3381450498,\"itemInstanceId\":\"6917529959785856359\",\"quantity\":1,\"bindStatus\":0,\"location\":1,\"bucketHash\":2465295065,\"transferStatus\":1,\"lockable\":false,\"state\":1,\"dismantlePermission\":0,\"isWrapper\":false},{\"itemHash\":3668817296,\"itemInstanceId\":\"6917529959785854181\",\"quantity\":1,\"bindStatus\":0,\"location\":1,\"bucketHash\":953998645,\"transferStatus\":1,\"lockable\":false,\"state\":1,\"dismantlePermission\":0,\"isWrapper\":false},{\"itemHash\":4196[...]
