{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.bungie.net/platform//Destiny2/2/Profile/4611686018462034842/?components=800",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Bungienext-Mid2": [
            "147"
          ],
          "X-Bungienext-Renderer": [
            "Frog Blast the Ventcore"
          ],
          "X-Ventcore-Status": [
            "1"
          ],
          "X-Selfurl": [
            "https://www.bungie.net/platform/Destiny2/2/Profile/4611686018462034842/?components=800"
          ],
          "Bnetlb": [
            "LB0102"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"Response\":{\"responseMintedTimestamp\":\"2023-12-02T23:25:41.671Z\",\"secondaryComponentsMintedTimestamp\":\"2023-12-02T23:25:41.671Z\",\"profileCollectibles\":{\"data\":{\"recentCollectibleHashes\":[1297479845,2364037501,3883922841,756545446,2368844818,3019220289,1401389346,1992402079,478031961,1478507614,2691348338,3273568864,2150073304,2570998690,2566448765,182031273,1962338942,2202871201,2636634098,4135618734,3593144108,3062263140,2721231443,3658493808,444633185,2693995282,2861022013,834954219,3860954591,2531379838,101171070,782174678,1256522551,701625206,2576590154,1556339008],\"collectibles\":{\"284943749\":{\"state\":69},\"383390690\":{\"state\":69},\"1877008014\":{\"state\":69},\"2494000160\":{\"state\":69},\"3178834489\":{\"state\":69},\"3367974736\":{\"state\":69},\"3264227707\":{\"state\":69},\"2721226509\":{\"state\":69},\"3840674369\":{\"state\":69},\"4292774850\":{\"state\":69},\"276653115\":{\"state\":69},\"787005960\":{\"state\":69},\"1343157424\":{\"state\":69},\"3812727878\":{\"state\":69},\"4108153343\":{\"state\":69},\"2443923226\":{\"state\":69},\"2206032677\":{\"state\":69},\"2948921059\":{\"s[...]
