{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.bungie.net/platform//Destiny2/2/Profile/4611686018462034842/?components=1300",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Bungienext-Mid2": [
            "159"
          ],
          "X-Bungienext-Renderer": [
            "Frog Blast the Ventcore"
          ],
          "X-Ventcore-Status": [
            "1"
          ],
          "X-Selfurl": [
            "https://www.bungie.net/platform/Destiny2/2/Profile/4611686018462034842/?components=1300"
          ],
          "Bnetlb": [
            "LB0302"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"Response\":{\"responseMintedTimestamp\":\"2023-12-02T23:25:33.938Z\",\"secondaryComponentsMintedTimestamp\":\"2023-12-02T23:25:33.938Z\",\"characterCraftables\":{\"data\":{\"2305843009316446082\":{\"craftables\":{\"12689138\":{\"visible\":true,\"failedRequirementIndexes\":[],\"sockets\":[{\"plugSetHash\":289662386,\"plugs\":[{\"plugItemHash\":3983457027,\"failedRequirementIndexes\":[]},{\"plugItemHash\":4074888076,\"failedRequirementIndexes\":[0]},{\"plugItemHash\":3615521782,\"failedRequirementIndexes\":[0]},{\"plugItemHash\":757651572,\"failedRequirementIndexes\":[0]},{\"plugItemHash\":2662827496,\"failedRequirementIndexes\":[0]}]},{\"plugSetHash\":2059674061,\"plugs\":[{\"plugItemHash\":466087222,\"failedRequirementIndexes\":[]},{\"plugItemHash\":1482024992,\"failedRequirementIndexes\":[]},{\"plugItemHash\":4090651448,\"failedRequ[...]
