{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.bungie.net/platform//Destiny2/2/Profile/4611686018462034842/?components=305",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Bungienext-Mid2": [
            "189"
          ],
          "X-Bungienext-Renderer": [
            "Frog Blast the Ventcore"
          ],
          "X-Ventcore-Status": [
            "1"
          ],
          "X-Selfurl": [
            "https://www.bungie.net/platform/Destiny2/2/Profile/4611686018462034842/?components=305"
          ],
          "Bnetlb": [
            "LB0302"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"Response\":{\"responseMintedTimestamp\":\"2023-12-02T23:25:35.432Z\",\"secondaryComponentsMintedTimestamp\":\"0001-01-01T00:00:00Z\",\"profilePlugSets\":{\"data\":{\"plugs\":{\"959\":[{\"plugItemHash\":3837077246,\"canInsert\":true,\"enabled\":true}],\"330\":[{\"plugItemHash\":1840239774,\"canInsert\":true,\"enabled\":true}],\"288\":[{\"plugItemHash\":3142289711,\"canInsert\":true,\"enabled\":true}],\"960\":[{\"plugItemHash\":3556949035,\"canInsert\":true,\"enabled\":true}],\"790\":[{\"plugItemHash\":2779035018,\"canInsert\":true,\"enabled\":true}],\"961\":[{\"plugItemHash\":2931483505,\"canInsert\":true,\"enabled\":true},{\"plugItemHash\":2949710074,\"canInsert\":true,\"enabled\":true}],\"3\":[{\"plugObjectives\":[{\"objectiveHash\":2579044636,\"progress\":4860,\"completionValue\":1,\"complete\":true,\"visible\":true}],\"plugItemHash\":2302094943,\"canInsert\":true,\"enabled\":true},{\"plugObjectives\":[{\"objectiveHash\":74070459,\"progress\":0,\"completionValue\":1,\"complete\":false,\"visible\":true}],\"plugItemHash\":38912240,\"canInsert\":true,\"enabled\":true}],\"2044988252\":[{\"plugItemHash\":839105230,\"canInsert\":true,\"enabled\":true},{\"plugItemHash\":3661387068,\"canInsert\":true,\"enabled\":true},{\"plugItemHash\":4090651448,\"canInsert\":true,\"enabled\":true},{\"plugItemHash\":146752708[...]
