{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.bungie.net/platform//Destiny2/2/Profile/4611686018462034842/?components=301",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Bungienext-Mid2": [
            "147"
          ],
          "X-Bungienext-Renderer": [
            "Frog Blast the Ventcore"
          ],
          "X-Ventcore-Status": [
            "1"
          ],
          "X-Selfurl": [
            "https://www.bungie.net/platform/Destiny2/2/Profile/4611686018462034842/?components=301"
          ],
          "Bnetlb": [
            "LB0102"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"Response\":{\"responseMintedTimestamp\":\"2023-12-02T23:25:41.671Z\",\"secondaryComponentsMintedTimestamp\":\"0001-01-01T00:00:00Z\",\"characterUninstancedItemComponents\":{\"2305843009316446082\":{\"objectives\":{\"data\":{\"432848324\":{\"objectives\":[{\"objectiveHash\":788707520,\"progress\":1,\"completionValue\":1,\"complete\":true,\"visible\":true},{\"objectiveHash\":1977965959,\"progress\":0,\"completionValue\":1,\"complete\":false,\"visible\":true},{\"objectiveHash\":84088458,\"progress\":1,\"completionValue\":1,\"complete\":true,\"visible\":true},{\"objectiveHash\":1935561040,\"progress\":0,\"completionValue\":1,\"complete\":false,\"visible\":true}]},\"2540008660\":{\"objectives\":[{\"objectiveHash\":2432519051,\"progress\":5000,\"completionValue\":5000,\"complete\":true,\"visible\":true}]},\"2101914852\":{\"objectives\":[{\"objec[...]
