{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.bungie.net/platform//Destiny2/2/Profile/4611686018462034842/?components=1100",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Bungienext-Mid2": [
            "189"
          ],
          "X-Bungienext-Renderer": [
            "Frog Blast the Ventcore"
          ],
          "X-Ventcore-Status": [
            "1"
          ],
          "X-Selfurl": [
            "https://www.bungie.net/platform/Destiny2/2/Profile/4611686018462034842/?components=1100"
          ],
          "Bnetlb": [
            "LB0302"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"Response\":{\"responseMintedTimestamp\":\"2023-12-02T23:25:35.432Z\",\"secondaryComponentsMintedTimestamp\":\"2023-12-02T23:25:35.432Z\",\"metrics\":{\"data\":{\"metrics\":{\"3981543480\":{\"invisible\":false,\"objectiveProgress\":{\"objectiveHash\":3347800745,\"progress\":16137,\"completionValue\":20000,\"complete\":false,\"visible\":true}},\"3329916678\":{\"invisible\":false,\"objectiveProgress\":{\"objectiveHash\":1018927945,\"progress\":102107,\"completionValue\":80000,\"complete\":true,\"visible\":true}},\"3526455111\":{\"invisible\":false,\"objectiveProgress\":{\"objectiveHash\":2603863026,\"progress\":3622,\"completionValue\":3000,\"complete\":true,\"visible\":true}},\"1572939289\":{\"invisible\":false,\"objectiveProgress\":{\"objectiveHash\":1912486638,\"progress\":75985,\"completionValue\":65000,\"complete\":true,\"v[...]
