{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.bungie.net/platform//Destiny2/2/Profile/4611686018462034842/?components=700",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Bungienext-Mid2": [
            "184"
          ],
          "X-Bungienext-Renderer": [
            "Frog Blast the Ventcore"
          ],
          "X-Ventcore-Status": [
            "1"
          ],
          "X-Selfurl": [
            "https://www.bungie.net/platform/Destiny2/2/Profile/4611686018462034842/?components=700"
          ],
          "Bnetlb": [
            "LB0302"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"Response\":{\"responseMintedTimestamp\":\"2023-12-02T23:25:40.149Z\",\"secondaryComponentsMintedTimestamp\":\"2023-12-02T23:25:40.149Z\",\"profilePresentationNodes\":{\"data\":{\"nodes\":{\"4107748167\":{\"state\":0,\"objective\":{\"objectiveHash\":511762225,\"progress\":0,\"completionValue\":45,\"complete\":false,\"visible\":true},\"progressValue\":0,\"completionValue\":45},\"1633867910\":{\"state\":1,\"objective\":{\"objectiveHash\":2095290844,\"progress\":0,\"completionValue\":0,\"complete\":false,\"visible\":true},\"progressValue\":0,\"completionValue\":0},\"1633867911\":{\"state\":1,\"objective\":{\"objectiveHash\":2359207793,\"progress\":0,\"completionValue\":0,\"complete\":false,\"visible\":true},\"progressValue\":0,\"completionValue\":0},\"1633867908\":{\"state\":1,\"objective\":{\"objectiveHash\":1957712674,\"progress\":0,\"complet[...]
