{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.bungie.net/platform//Destiny2/2/Profile/4611686018462034842/?components=100",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Bungienext-Mid2": [
            "155"
          ],
          "X-Bungienext-Renderer": [
            "Frog Blast the Ventcore"
          ],
          "X-Ventcore-Status": [
            "1"
          ],
          "X-Selfurl": [
            "https://www.bungie.net/platform/Destiny2/2/Profile/4611686018462034842/?components=100"
          ],
          "Bnetlb": [
            "LB0101"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"Response\":{\"responseMintedTimestamp\":\"2023-12-02T23:25:32.262Z\",\"secondaryComponentsMintedTimestamp\":\"0001-01-01T00:00:00Z\",\"profile\":{\"data\":{\"userInfo\":{\"crossSaveOverride\":2,\"applicableMembershipTypes\":[1,3,2],\"isPublic\":true,\"membershipType\":2,\"membershipId\":\"4611686018462034842\",\"displayName\":\"waferbaby\",\"bungieGlobalDisplayName\":\"waferbaby\",\"bungieGlobalDisplayNameCode\":7260},\"dateLastPlayed\":\"2023-12-02T23:17:26Z\",\"versionsOwned\":1023,\"characterIds\":[\"2305843009316446082\"],\"seasonHashes\":[1743682818,1743682819,2809059425,2809059424,2809059427,2809059426,2809059429,2809059428,2809059431,2809059430,2809059433,2809059432,2758726568,2758726569,2758726570,2758726571],\"eventCardHashesOwned\":[],\"currentSeasonHash\":2758726571,\"currentSeasonRewardPowerCap\":1810,\"currentGuardianRank\":9,\"lifetimeHighestGuardianRank\":9,\"renewedGuardianRank\":6},\"privacy\":1}},\"ErrorCode\":1,\"ThrottleSeconds\":0,\"ErrorStatus\":\"Success\",\"Message\":\"Ok\",\"MessageData\":{}}"
        }
      },
      "recorded_at": "Sat, 02 Dec 2023 23:25:32 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}