{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.bungie.net/platform//Destiny2/2/Profile/4611686018462034842/?components=102",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Bungienext-Mid2": [
            "159"
          ],
          "X-Bungienext-Renderer": [
            "Frog Blast the Ventcore"
          ],
          "X-Ventcore-Status": [
            "1"
          ],
          "X-Selfurl": [
            "https://www.bungie.net/platform/Destiny2/2/Profile/4611686018462034842/?components=102"
          ],
          "Bnetlb": [
            "LB0302"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"Response\":{\"responseMintedTimestamp\":\"2023-12-02T23:25:33.938Z\",\"secondaryComponentsMintedTimestamp\":\"0001-01-01T00:00:00Z\",\"profileInventory\":{\"data\":{\"items\":[{\"itemHash\":771273473,\"quantity\":5,\"bindStatus\":0,\"location\":2,\"bucketHash\":1469714392,\"transferStatus\":2,\"lockable\":false,\"state\":0,\"dismantlePermission\":0,\"isWrapper\":false,\"tooltipNotificationIndexes\":[]},{\"itemHash\":1633854071,\"quantity\":81,\"bindStatus\":0,\"location\":2,\"bucketHash\":1469714392,\"transferStatus\":2,\"lockable\":false,\"state\":0,\"dismantlePermission\":0,\"isWrapper\":false,\"tooltipNotificationIndexes\":[]},{\"itemHash\":685299502,\"quantity\":5,\"bindStatus\":0,\"location\":2,\"bucketHash\":1469714392,\"transferStatus\":2,\"lockable\":false,\"state\":0,\"dismantlePermission\":0,\"isWrapper\":false,\"tooltipNotificationIndexes\":[]},{\"itemHash\":810623803,\"quantity[...]
