{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.bungie.net/platform//Destiny2/2/Profile/4611686018462034842/?components=104",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Bungienext-Mid2": [
            "179"
          ],
          "X-Bungienext-Renderer": [
            "Frog Blast the Ventcore"
          ],
          "X-Ventcore-Status": [
            "1"
          ],
          "X-Selfurl": [
            "https://www.bungie.net/platform/Destiny2/2/Profile/4611686018462034842/?components=104"
          ],
          "Bnetlb": [
            "LB0102"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"Response\":{\"responseMintedTimestamp\":\"2023-12-02T23:25:34.836Z\",\"secondaryComponentsMintedTimestamp\":\"0001-01-01T00:00:00Z\",\"profileProgression\":{\"data\":{\"checklists\":{\"1697465175\":{\"3156467474\":true,\"2473593253\":true,\"505173108\":true,\"3557288846\":true,\"3658842337\":true,\"1116639056\":true,\"72017611\":true,\"3212130160\":true,\"97796737\":true,\"113362963\":true,\"2355206132\":true,\"28658981\":true,\"2482079866\":true,\"576743835\":true,\"3307732497\":true,\"823939877\":true,\"908643859\":true,\"1085712440\":true,\"589814471\":true,\"2503906440\":true,\"3609559330\":true,\"4143709398\":true,\"2049004329\":true,\"1780053523\":true,\"2925348591\":[...]
