{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.bungie.net/platform//Destiny2/2/Profile/4611686018462034842/?components=900",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Bungienext-Mid2": [
            "189"
          ],
          "X-Bungienext-Renderer": [
            "Frog Blast the Ventcore"
          ],
          "X-Ventcore-Status": [
            "1"
          ],
          "X-Selfurl": [
            "https://www.bungie.net/platform/Destiny2/2/Profile/4611686018462034842/?components=900"
          ],
          "Bnetlb": [
            "LB0302"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"Response\":{\"responseMintedTimestamp\":\"2023-12-02T23:25:35.432Z\",\"secondaryComponentsMintedTimestamp\":\"2023-12-02T23:25:35.432Z\",\"profileRecords\":{\"data\":{\"score\":16137,\"activeScore\":16137,\"legacyScore\":85970,\"lifetimeScore\":102107,\"records\":{\"1618576679\":{\"state\":0,\"objectives\":[{\"objectiveHash\":1192806779,\"progress\":1,\"completionValue\":1,\"complete\":true,\"visible\":true}],\"intervalsRedeemedCount\":0},\"131593566\":{\"state\":0,\"objectives\":[{\"objectiveHash\":1835016018,\"progress\":1,\"completionValue\":1,\"complete\":true,\"visible\":true}],\"intervalsRedeemedCount\":0},\"2890730975\":{\"state\":0,\"objectives\":[{\"objectiveHash\":3969995267,\"progress\":1,\"completionValue\":1,\"complete\":true,\"visible\":true}],\"intervalsRedeemedCount\":0},\"3033829788\":{\"state\":0,\"objectives\":[{\"objectiveHash\":1125168192,\"progress\":1,\"completionValue\":1,\"complete\":true,\"visible\":t[...]
