{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.bungie.net/platform//Destiny2/2/Profile/4611686018462034842/?components=1400",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Bungienext-Mid2": [
            "167"
          ],
          "X-Bungienext-Renderer": [
            "Frog Blast the Ventcore"
          ],
          "X-Ventcore-Status": [
            "1"
          ],
          "X-Selfurl": [
            "https://www.bungie.net/platform/Destiny2/2/Profile/4611686018462034842/?components=1400"
          ],
          "Bnetlb": [
            "LB0102"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"Response\":{\"responseMintedTimestamp\":\"2023-12-02T23:25:43.027Z\",\"secondaryComponentsMintedTimestamp\":\"2023-12-02T23:25:43.027Z\",\"profileCommendations\":{\"data\":{\"totalScore\":650,\"commendationNodePercentagesByHash\":{\"154475713\":13,\"4180748446\":12,\"1341823550\":25,\"1390663518\":50},\"scoreDetailValues\":[36,33],\"commendationNodeScoresByHash\":{\"1062358355\":348,\"154475713\":34,\"4180748446\":30,\"1341823550\":63,\"1390663518\":129},\"commendationScoresByHash\":{\"3377580220\":14,\"2019871317\":0,\"354527503\":1,\"3575743922\":1,\"3872064891\":1,\"3970150545\":3,\"3037314846\":2,\"4209356036\":1,\"3030493827\":0,\"2205006002\":0,\"363818544\":0,\"2506835299\":0,\"965562884\":0,\"801121776\":0,\"3513056018\":3,\"357212819\":7}},\"privacy\":2}},\"ErrorCode\":1,\"ThrottleSeconds\":0,\"ErrorStatus\":\"Success\",\"Message\":\"Ok\",\"MessageData\":{}}"
        }
      },
      "recorded_at": "Sat, 02 Dec 2023 23:25:53 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}