{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.bungie.net/platform//Destiny2/2/Profile/4611686018462034842/?components=1200",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Bungienext-Mid2": [
            "184"
          ],
          "X-Bungienext-Renderer": [
            "Frog Blast the Ventcore"
          ],
          "X-Ventcore-Status": [
            "1"
          ],
          "X-Selfurl": [
            "https://www.bungie.net/platform/Destiny2/2/Profile/4611686018462034842/?components=1200"
          ],
          "Bnetlb": [
            "LB0302"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"Response\":{\"responseMintedTimestamp\":\"2023-12-02T23:25:40.149Z\",\"secondaryComponentsMintedTimestamp\":\"2023-12-02T23:25:40.149Z\",\"profileStringVariables\":{\"data\":{\"integerValuesByHash\":{\"1045203749\":100,\"3624160918\":4,\"204478713\":1,\"542268544\":0,\"3685276897\":0,\"3094895831\":0,\"334376694\":0,\"2648023885\":10,\"125299441\":20,\"3043319754\":30,\"733308108\":3,\"3648290880\":250000,\"365343461\":4,\"3095424330\":160000,\"3447066373\":180000,\"73817828\":300000,\"2377253100\":225000,\"1996725305\":0,\"2829645461\":10,\"1902540285\":80,\"3484206514\":80,\"1120977910\":50000,\"3663259843\":100000,\"3879093984\":150000,\"3033065222\":175000,\"1074511851\":50000,\"2791313[...]
