{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.bungie.net/platform//Destiny2/2/Profile/4611686018462034842/?components=1000",
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "X-Api-Key": [
            "<API_KEY>"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Bungienext-Mid2": [
            "179"
          ],
          "X-Bungienext-Renderer": [
            "Frog Blast the Ventcore"
          ],
          "X-Ventcore-Status": [
            "1"
          ],
          "X-Selfurl": [
            "https://www.bungie.net/platform/Destiny2/2/Profile/4611686018462034842/?components=1000"
          ],
          "Bnetlb": [
            "LB0102"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"Response\":{\"responseMintedTimestamp\":\"2023-12-02T23:25:34.836Z\",\"secondaryComponentsMintedTimestamp\":\"2023-12-02T23:25:34.836Z\",\"profileTransitoryData\":{\"data\":{\"partyMembers\":[{\"membershipId\":\"4611686018462034842\",\"emblemHash\":2166136261,\"status\":9}],\"currentActivity\":{\"startTime\":\"2023-12-02T23:11:22Z\",\"score\":0.0,\"highestOpposingFactionScore\":0.0,\"numberOfOpponents\":0,\"numberOfPlayers\":0},\"joinability\":{\"openSlots\":0,\"privacySetting\":4,\"closedReasons\":32768},\"tracking\":[],\"lastOrbitedDestinationHash\":0},\"privacy\":1}},\"ErrorCode\":1,\"ThrottleSeconds\":0,\"ErrorStatus\":\"Success\",\"Message\":\"Ok\",\"MessageData\":{}}"
        }
      },
      "recorded_at": "Sat, 02 Dec 2023 23:25:51 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}